<!--Unity 配置文件-->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
   
     
    <containers>
      
      <container name="testContainer">
        <register type="Interface.IPhone,Interface" mapTo="Services.AndroidPhone, Services" />
        <register type="Interface.IPhone,Interface" mapTo="Services.TestPhone, Services" name="TestPhone"/>
      </container>

     
     
    </containers>
  </unity>
</configuration>